body {
  --text-color: #1c93e3;
  --translucent-text-color: #8c8c8c;
  --button-color: linear-gradient(180deg, #1c93e3 0%, #00a8ff 100%);
  --input-area-color: rgba(77, 143, 195, 0.2);
  --background-color: #fff;
  --form-input-focus: rgba(0, 0, 0, 0.6);

  --back: #fff;
  --grey: #8c8c8c;
  --grey-light: #5e6368;
  --border: #6b737a;
  --border-blue: #1a73e8;
  --text: #000;
  --form-btn: linear-gradient(180deg, #1c93e3 0%, #00a8ff 100%);
  --form-btn-hover: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(180deg, #1c93e3 0%, #00a8ff 100%);
  --form-red: #ff4c4c;
}

body.dark {
  --test: white;
}
